.dialog {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  padding: 0;
  overflow: unset;
  background: none;
  outline: none;

  &::backdrop {
    background-color: var(--opacity-grey-500);
    opacity: 1;
  }

  &.noOverlay::backdrop {
    background-color: var(--opacity-grey-0);
  }

  /* Google Chrome、Safariへの対応 */
  &::-webkit-scrollbar {
    display: none;
  }
}
