.label {
  display: flex;
  gap: var(--size-f-01);

  &.disabled {
    color: var(--color-disabled-text);
  }
}

.label_text {
  font-size: var(--font-size-14);
  font-weight: var(--weight-normal);
  line-height: var(--line-height-150);
}

.requirement {
  font-size: var(--font-size-14);
  font-weight: var(--weight-normal);
  line-height: var(--line-height-150);
  color: var(--color-alert-text);
}

.textAlign_left {
  justify-content: flex-start;
}

.textAlign_center {
  justify-content: center;
}

.textAlign_right {
  justify-content: flex-end;
}
