.divider {
  height: 1px;
  border: none;
  border-top-style: solid;
}

/* color */
.dark {
  border-top-color: var(--color-border-field);
}

.light {
  border-top-color: var(--grey-417);
}

/* line weight */
.lineWeight_s {
  border-top-width: 1px;
}

.lineWeight_m {
  border-top-width: 2px;
}

.lineWeight_l {
  border-top-width: 3px;
}

.lineWeight_xl {
  border-top-width: 4px;
}

/* mx */
.hasHorizontalMargin {
  margin-right: var(--size-f-02);
  margin-left: var(--size-f-02);
}

/* my */
.vertical_s {
  margin-top: var(--size-f-01);
  margin-bottom: var(--size-f-01);
}

.vertical_m {
  margin-top: var(--size-f-02);
  margin-bottom: var(--size-f-02);
}

.vertical_l {
  margin-top: var(--size-f-03);
  margin-bottom: var(--size-f-03);
}

.vertical_none {
  margin-top: 0;
  margin-bottom: 0;
}

/* border style */
.solid {
  border-top-style: solid;
}

.dashed {
  border-top-style: dashed;
}
